.section-title {
    background-color: var(--main-background);
    min-height: 810px;
    padding: 60px 0;
    align-items: center;
    color: var(--content-text-color);
}

.section-title > .cr-container{
    align-items: center;
    justify-content: space-between;
}

.info{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sub-title{
    font-size: 62px;
}

.picture_content{
    width: 605px;
    height: 605px;
    overflow: hidden;
}

.picture__content__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.cr-container-galery {
    padding: 70px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.container_picture_galery {
    width: 32.333%;
    height: 605px;
}


@media(max-width: 1120px){
    .picture_content {
        width: 465px;
        height: 465px;
    }
}

@media(max-width: 920px){
    .section-title > .cr-container{
        flex-direction: column;
        gap: 40px;
    }

    .info {
        width: 90%;
    }
   
    .container_picture_galery{
        width: 49.33%;
   }
}

@media(max-width: 750px){
    .sub-title{
        font-size: 30px;
    }

    .info{
        width: 100%;
    }
    .picture_content {
        width: 100%;
        height: 390px;
    }

    .container_picture_galery{
        width: 45%;
        height: 290px;
    }
}