
#cr-polkdh {
	height: 100vh;
	background: var(--main-background);
	color: var(--content-text-color);
	align-items: center;
}

#cr-hsmnxv {
	gap: 40px;
	align-items: center;
}

#cr-hgjdai{
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

#cr-kjrwtq {
	width: 50%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap:14px;
} 


#cr-band {
	display: flex;
	flex-wrap: wrap;
	column-gap: 40px;
	row-gap: 25px;
}

.member {color: rgb(224,251,171); font-size: 17px;}
.member-name{text-transform: uppercase;}


.grid-item {
	height: 240px;
}

.img-item{
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
	transition: 0.4s;
}

.img-item:hover {
	scale: 1.04;
}

.social-media {
	padding-top: 10px;
}


@media(max-width: 1024px){
	#cr-hsmnxv{flex-direction: column; padding: 60px 0;}

	#cr-hgjdai {width: 100%}

	#cr-kjrwtq {
		width: 85%;
		grid-template-columns: repeat(2, 1fr);
	} 

	#cr-polkdh {height: auto}	
	
}

@media(max-width: 480px){

	#cr-polkdh {
		background-position: top left;
	}

	#cr-hgjdai{gap: 20px}

	#cr-kjrwtq{
		width: 100%;
	}

}

